{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6 offset-md-3">
		{% if user.is_authenticated %}
			<h1>Records</h1>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">first_name</th>
			      <th scope="col">last_name</th>
			      <th scope="col">email</th>
			      <th scope="col">phone</th>
			      <th scope="col">address</th>
			      <th scope="col">city</th>
			      <th scope="col">state</th>
			      <th scope="col">zipcode</th>
			    </tr>
			  </thead>
			  
			    <tbody>
			{% for record in records %}
				<tr>
					<th scope="row">{{record.first_name}}</th>
					<td>{{record.last_name}}</td>
					<td>{{record.email}}</td>
					<td>{{record.phone}}</td>
					<td>{{record.address}}</td>
					<td>{{record.city}}</td>
					<td>{{record.state}}</td>
					<td>{{record.zipcode}}</td>
				</tr>
			{% endfor %}
			  	</tbody>
			</table>
		{% else %}
		<h1>Login:</h1>
		<form action="{% url 'home' %}" method="post">
			{% csrf_token %}
			  <div class="mb-3">
			    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username" required>
			  </div>
			  <div class="mb-3">
			    <input type="password" class="form-control" name="password" placeholder="Password" required>
			  </div>
			  <button type="submit" class="btn btn-secondary">Login</button>

		</form>
		{% endif %}
	</div>
{% endblock %}